In [168]:
import numpy as np 
import pandas as pd
from IPython.display import display

sa_df = pd.read_csv(r"sport_athletes.csv")
# ------------------------------------------------------
# 1.
display(max(sa_df["Weight(kg)"]))
display(max(sa_df["Height(cm)"]))
display(max(sa_df["Wins"]))
# a, b, c.
sa_df.rename(columns={"Weight(kg)" : "Max_Weight(kg)", "Height(cm)" : "Max_Height(cm)", "Wins" : "Max_Wins"})
# ------------------------------------------------------
# 2.
print(sa_df.groupby('Sport Type')['Weight(kg)'].min().sort_values())
# ------------------------------------------------------
3.
print(sa_df.groupby('Sport Type')['Height(cm)'].nlargest(2))
# ------------------------------------------------------
4.
print(sa_df.groupby(['Sport Type', 'Country']).size())
# a.
display(sa_df.groupby(['Sport Type', 'Country']).max())
# b.
display(sa_df.groupby(['Sport Type', 'Country']).max().loc[("Basketball")])
# c.
display(sa_df.groupby(['Sport Type']).max(numeric_only=True).xs(key='Soccer').reset_index())
# d.
display(sa_df[sa_df['Sport Type'].isin(["Soccer", "Tennis"])].groupby('Sport Type').max(numeric_only=True))
# e.
display(sa_df.groupby(['Sport Type', 'Country']).max(numeric_only=True).swaplevel().sort_index())
# f.
sa_df.groupby('Country').agg({'Wins': ['max', 'min', 'mean', 'std'], 'Height(cm)': ['max', 'min', 'mean', 'std']}).transpose()
# ------------------------------------------------------
# 5.
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })
sa_df = pd.concat([sa_df, new_rows], axis=0)
display(sa_df)
# ------------------------------------------------------
# 6.
sa_df['Olympic Date'] = pd.to_datetime(sa_df['Olympic Date'], format='%d/%m/%Y')
display(sa_df.set_index('Olympic Date').resample('YE')['Wins'].sum())
display(sa_df.set_index('Olympic Date').resample('YE')['Wins'].sum().loc[lambda x: x > 0])
display(sa_df.set_index('Olympic Date').resample('YE')['Wins'].sum().replace(0, pd.NA))
# ------------------------------------------------------
# 7.
smoking_df = pd.read_csv(r"athletes_smoking.csv")
new_df = pd.merge(sa_df, smoking_df, on="Athlete Name")
display(new_df)
new_df = pd.merge(sa_df, smoking_df, on="Athlete Name", how="outer")
display(new_df)

147

216

6

Sport Type
Gymnastics         45
Soccer             57
Track and Field    57
Swimming           58
Cycling            68
Tennis             70
Basketball         96
Name: Weight(kg), dtype: int64
Sport Type
Basketball       4     216
                 3     208
Cycling          28    186
                 27    184
Gymnastics       33    160
                 34    157
Soccer           7     187
                 9     185
Swimming         15    200
                 14    196
Tennis           19    188
                 16    185
Track and Field  20    195
                 21    188
Name: Height(cm), dtype: int64
Sport Type       Country
Basketball       USA            5
Cycling          Belgium        1
                 Netherlands    1
                 Slovenia       2
                 UK             2
Gymnastics       Romania        1
                 USA            4
Soccer           Argentina      1
                 Brazil         2
                 France         1
                 Portugal       1
                 USA            1
Swimming         Australia      1
                 China          1
                 USA            3
Tennis           Serbia         1
                 Spain          1
                 Switzerland    1
                 USA            1
Track and Field  Jamaica        1
                 UK             1
                 USA            3
dtype: int64

                                     Athlete Name  Height(cm)  Weight(kg)  \
Sport Type      Country
Basketball      USA              Shaquille O'Neal         216         147
Cycling         Belgium               Eddy Merckx         181          72
                Netherlands  Anna van der Breggen         175          68
                Slovenia            Tadej Pogacar         186          69
                UK                 Geraint Thomas         183          71
Gymnastics      Romania            Nadia Comaneci         155          50
                USA                  Simone Biles         160          52
Soccer          Argentina            Lionel Messi         170          69
                Brazil                       Pel√©         174          72
                France            Zinedine Zidane         185          80
                Portugal        Cristiano Ronaldo         187          83
                USA                 Megan Rapinoe         168          62
Swimming        Australia              Ian Thorpe         196          85
                China                    Sun Yang         200          90
                USA                Michael Phelps         193          88
Tennis          Serbia             Novak Djokovic         188          84
                Spain                Rafael Nadal         185          85
                Switzerland         Roger Federer         185          85
                USA               Serena Williams         175          70
Track and Field Jamaica                Usain Bolt         195          94
                UK                       Mo Farah         176          65
                USA             Florence Griffith         188          81

                             Wins Olympic Date
Sport Type      Country
Basketball      USA             3   24/08/2012
Cycling         Belgium         5   15/08/1980
                Netherlands     4   10/08/2020
                Slovenia        3   11/08/2020
                UK              4   08/08/2012
Gymnastics      Romania         5   18/08/1976
                USA             5   15/08/2008
Soccer          Argentina       2   11/08/2016
                Brazil          3   18/08/1970
                France          3   17/08/1998
                Portugal        2   25/08/2008
                USA             2   05/08/2020
Swimming        Australia       4   11/08/2000
                China           3   08/08/2012
                USA             5   25/08/2012
Tennis          Serbia          4   10/08/2020
                Spain           3   05/08/2016
                Switzerland     2   28/07/2008
                USA             4   01/08/2012
Track and Field Jamaica         6   22/08/2012
                UK              5   05/08/2016
                USA             4   18/08/1988

             Athlete Name  Height(cm)  Weight(kg)  Wins Olympic Date
Country
USA      Shaquille O'Neal         216         147     3   24/08/2012

        index  Soccer
0  Height(cm)     187
1  Weight(kg)      83
2        Wins       3

            Height(cm)  Weight(kg)  Wins
Sport Type
Soccer             187          83     3
Tennis             188          85     4

                             Height(cm)  Weight(kg)  Wins
Country     Sport Type
Argentina   Soccer                  170          69     2
Australia   Swimming                196          85     4
Belgium     Cycling                 181          72     5
Brazil      Soccer                  174          72     3
China       Swimming                200          90     3
France      Soccer                  185          80     3
Jamaica     Track and Field         195          94     6
Netherlands Cycling                 175          68     4
Portugal    Soccer                  187          83     2
Romania     Gymnastics              155          50     5
Serbia      Tennis                  188          84     4
Slovenia    Cycling                 186          69     3
Spain       Tennis                  185          85     3
Switzerland Tennis                  185          85     2
UK          Cycling                 183          71     4
            Track and Field         176          65     5
USA         Basketball              216         147     3
            Gymnastics              160          52     5
            Soccer                  168          62     2
            Swimming                193          88     5
            Tennis                  175          70     4
            Track and Field         188          81     4

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
0,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
1,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

Olympic Date
1970-12-31     3
1971-12-31     0
1972-12-31     0
1973-12-31     0
1974-12-31     0
1975-12-31     0
1976-12-31     5
1977-12-31     0
1978-12-31     0
1979-12-31     0
1980-12-31     5
1981-12-31     0
1982-12-31     0
1983-12-31     0
1984-12-31     4
1985-12-31     0
1986-12-31     0
1987-12-31     0
1988-12-31     4
1989-12-31     0
1990-12-31     0
1991-12-31     0
1992-12-31     3
1993-12-31     0
1994-12-31     0
1995-12-31     0
1996-12-31     0
1997-12-31     0
1998-12-31     3
1999-12-31     0
2000-12-31     5
2001-12-31     0
2002-12-31     3
2003-12-31     0
2004-12-31     8
2005-12-31     0
2006-12-31     0
2007-12-31     0
2008-12-31    13
2009-12-31     0
2010-12-31     4
2011-12-31     0
2012-12-31    26
2013-12-31     0
2014-12-31     0
2015-12-31     0
2016-12-31    30
2017-12-31     0
2018-12-31     0
2019-12-31     0
2020-12-31    13
Freq: YE-DEC, Name: Wins, dtype: int64

Olympic Date
1970-12-31     3
1976-12-31     5
1980-12-31     5
1984-12-31     4
1988-12-31     4
1992-12-31     3
1998-12-31     3
2000-12-31     5
2002-12-31     3
2004-12-31     8
2008-12-31    13
2010-12-31     4
2012-12-31    26
2016-12-31    30
2020-12-31    13
Name: Wins, dtype: int64

Olympic Date
1970-12-31       3
1971-12-31    <NA>
1972-12-31    <NA>
1973-12-31    <NA>
1974-12-31    <NA>
1975-12-31    <NA>
1976-12-31       5
1977-12-31    <NA>
1978-12-31    <NA>
1979-12-31    <NA>
1980-12-31       5
1981-12-31    <NA>
1982-12-31    <NA>
1983-12-31    <NA>
1984-12-31       4
1985-12-31    <NA>
1986-12-31    <NA>
1987-12-31    <NA>
1988-12-31       4
1989-12-31    <NA>
1990-12-31    <NA>
1991-12-31    <NA>
1992-12-31       3
1993-12-31    <NA>
1994-12-31    <NA>
1995-12-31    <NA>
1996-12-31    <NA>
1997-12-31    <NA>
1998-12-31       3
1999-12-31    <NA>
2000-12-31       5
2001-12-31    <NA>
2002-12-31       3
2003-12-31    <NA>
2004-12-31       8
2005-12-31    <NA>
2006-12-31    <NA>
2007-12-31    <NA>
2008-12-31      13
2009-12-31    <NA>
2010-12-31       4
2011-12-31    <NA>
2012-12-31      26
2013-12-31    <NA>
2014-12-31    <NA>
2015-12-31    <NA>
2016-12-31      30
2017-12-31    <NA>
2018-12-31    <NA>
2019-12-31    <NA>
2020-12-31      13
Freq: YE-DEC, Name: Wins, dtype: object

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Basketball,Michael Jordan,198,98,3,1992-08-08,No
1,USA,Basketball,LeBron James,206,113,2,2008-08-15,No
2,USA,Basketball,Kobe Bryant,198,96,2,2012-08-24,Yes
3,USA,Basketball,Kevin Durant,208,109,3,2016-08-10,No
4,USA,Basketball,Shaquille O'Neal,216,147,1,2000-08-22,No
5,Portugal,Soccer,Cristiano Ronaldo,187,83,2,2008-08-25,No
6,Argentina,Soccer,Lionel Messi,170,69,2,2016-08-11,Yes
7,USA,Soccer,Megan Rapinoe,168,62,2,2020-08-05,No
8,Australia,Swimming,Ian Thorpe,196,85,4,2000-08-11,No
9,Spain,Tennis,Rafael Nadal,185,85,3,2016-08-05,No
10,Jamaica,Track and Field,Usain Bolt,195,94,6,2012-08-22,No
11,USA,Track and Field,Carl Lewis,188,81,4,1984-08-15,Yes
12,USA,Gymnastics,Simone Biles,142,48,5,2016-08-05,No
13,Canada,Hockey,Wayne Gretzky,183,84,3,2002-02-01,Yes
14,USA,Skiing,Lindsey Vonn,172,68,4,2010-02-12,No

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Gymnastics,Aly Raisman,160,52,3,2012-08-10,NaN
1,Netherlands,Cycling,Anna van der Breggen,175,68,4,2020-08-10,NaN
2,USA,Track and Field,Ashton Eaton,185,77,3,2016-08-08,NaN
3,USA,Swimming,Caeleb Dressel,191,88,3,2016-08-06,NaN
4,USA,Track and Field,Carl Lewis,188,81,4,1984-08-15,Yes
5,UK,Cycling,Chris Froome,180,70,4,2012-08-08,NaN
6,Portugal,Soccer,Cristiano Ronaldo,187,83,2,2008-08-25,No
7,Belgium,Cycling,Eddy Merckx,181,72,5,1980-08-15,NaN
8,USA,Track and Field,Florence Griffith,165,57,4,1988-08-18,NaN
9,USA,Gymnastics,Gabby Douglas,150,45,3,2016-08-11,NaN
10,UK,Cycling,Geraint Thomas,183,71,4,2008-08-08,NaN
11,Australia,Swimming,Ian Thorpe,196,85,4,2000-08-11,No
12,USA,Swimming,Katie Ledecky,180,58,4,2012-08-25,NaN
13,USA,Basketball,Kevin Durant,208,109,3,2016-08-10,No
14,USA,Basketball,Kobe Bryant,198,96,2,2012-08-24,Yes
15,USA,Basketball,LeBron James,206,113,2,2008-08-15,No
16,USA,Skiing,Lindsey Vonn,172,68,4,2010-02-12,No
17,Argentina,Soccer,Lionel Messi,170,69,2,2016-08-11,Yes
18,Brazil,Soccer,Marta,163,57,3,2004-08-01,NaN
19,USA,Soccer,Megan Rapinoe,168,62,2,2020-08-05,No
20,USA,Basketball,Michael Jordan,198,98,3,1992-08-08,No
21,USA,Swimming,Michael Phelps,193,88,5,2004-08-16,NaN
22,UK,Track and Field,Mo Farah,176,65,5,2016-08-05,NaN
23,Romania,Gymnastics,Nadia Comaneci,155,50,5,1976-08-18,NaN
24,Serbia,Tennis,Novak Djokovic,188,84,4,2020-08-10,NaN
25,Brazil,Soccer,Pel√©,174,72,3,1970-08-18,NaN
26,Slovenia,Cycling,Primoz Roglic,186,68,3,2016-08-05,NaN
27,Spain,Tennis,Rafael Nadal,185,85,3,2016-08-05,No
28,Switzerland,Tennis,Roger Federer,185,85,2,2008-07-28,NaN
29,USA,Tennis,Serena Williams,175,70,4,2012-08-01,NaN
30,USA,Basketball,Shaquille O'Neal,216,147,1,2000-08-22,No
31,USA,Gymnastics,Shawn Johnson,157,50,3,2008-08-15,NaN
32,USA,Gymnastics,Simone Biles,142,48,5,2016-08-05,No
33,China,Swimming,Sun Yang,200,90,3,2012-08-08,NaN
34,Slovenia,Cycling,Tadej Pogacar,184,69,3,2020-08-11,NaN
35,Jamaica,Track and Field,Usain Bolt,195,94,6,2012-08-22,No
36,Canada,Hockey,Wayne Gretzky,183,84,3,2002-02-01,Yes
37,France,Soccer,Zinedine Zidane,185,80,3,1998-08-17,NaN

In [16]:
sa_df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016